@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Saira+Condensed:wght@300;400;500&family=Ubuntu&display=swap');
:root {

    --blue-color: #2479d4;
    --white-color: #fff;
    --light-blue-color: hsl(211, 55%, 55%);
    --darker-blue-color: #1f6ec2;

    --header-height: 3.5rem;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 0.938rem;
    background-color: hsl(220, 100%, 97%);
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3); 
    z-index: 100;
}

.nav {
    height: var(--header-height);
}

.nav_logo,
.nav_burger,
.nav_close {
    color: var(--white-color);
}

.nav_data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
}

.nav_data a {
    font-weight: 600;
}

.nav_logo img {
    width: 58px;
}

.nav_toggler {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav_burger,
.nav_close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav_close {
    opacity: 0;
}

@media screen and (min-width: 341px) and (max-width: 1118px) {
    .nav_menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - var(--header-height));
        overflow: auto;
        pointer-events: none;
        opacity: 0; 
        transition: top 0.4s, opacity .3s;
    }
    .nav_menu::-webkit-scrollbar {
        width: 0;
    }
    .nav_list {
        background-color: var(--blue-color);
        padding-top: 1rem;
    }

    .hero_section {
        position: relative;
        padding-top: var(--header-height);
    }



    .about_card {
        max-width: 200px;
    }
 }



 .nav_link {
    color: var(--white-color);
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
 }

 .nav_link:hover {
    background-color: var(--light-blue-color);
 }

 .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
 }

 .dropdown_item {
    cursor: pointer;
 }

 .dropdown_arrow {
    font-size: 1.25rem;
    font-weight: 600;
    transition: transform .4s;
 }

 .dropdown_link, .dropdown_sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: var(--darker-blue-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
    transition: background-color .3s;
 }

 .dropdown_sublink i {
    font-size: 1.25rem;
    font-weight: 600;
 }

 .dropdown_link:hover, .dropdown_sublink:hover {
    background-color: var(--blue-color);
 }

 .dropdown_menu, .dropdown_submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
 }

 .dropdown_item:hover .dropdown_menu, .dropdown_subitem:hover > .dropdown_submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
 }

 .dropdown_item:hover .dropdown_arrow {
    transform: rotate(180deg);
 }
 
 .dropdown_add {
    margin-left: auto;
 }

 .dropdown_sublink {
    background-color: var(--darker-blue-color);
 }

 @media screen and (max-width: 600px) {
    .container {
        margin-inline: 1rem;
    }

    .nav_link {
        padding-inline: 1rem;
    }

    .about_card {
        max-width: 180px;
    }

    .footer_container {
        flex-direction: column;
        padding: 20px 30px;
    }

    .footer_col ul {
        margin-left: 20px;
        margin-bottom: 20px;
    }


 }

 @media screen and (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        padding: 20px 30px;
    }

    .footer_col ul {
        margin-left: 20px;
        margin-bottom: 20px;
    }
 }

 @media screen and (min-width: 768px) {
    .about_card_container {
        grid-template-columns: 1fr 1fr;
    }

    .about_card:last-child {
        grid-column: span 2;
    }
}


 @media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav_toggler {
        display: none;
    }

    .nav_list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav_link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav_link:hover {
        background-color: transparent;
    }

    .dropdown_item, .dropdown_subitem {
        position: relative;
    }

    .dropdown_menu, .dropdown_submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s top .3s;
    }

    .dropdown_link, .dropdown_sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown_subitem .dropdown_link {
        padding-inline: 1rem;
    }

    .dropdown_submenu {
        left: 100%;
        position: absolute;
        top: 0.5rem;
    }

    .dropdown_item:hover .dropdown_menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top 0.3s;
    }

    .dropdown_subitem:hover > .dropdown_submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top 0.3s;
    }

    .hero_section {
        padding-top: calc(var(--header-height) + 2rem) !important;
    }

    .about_card_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .about_card:last-child {
        grid-column: unset;
    }
}


 .hero_section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/resizedbp.png);
    position: relative;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: var(--header-height);
 }

 .title_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

 }

 .hero_section h1 {
    margin: 0 auto;
    text-align: center;
    color: var(--white-color);
    font-weight: 600;
    font-size: 6rem;
    /*font-family: "Saira Semi Condensed", sans-serif; */
 }

 .hero_section h2 {
    padding-top: 2rem;
    text-align: center;
    color: var(--white-color);
    font-weight: 300;
    font-size: 2.1rem;
 }

 .hero_image {
    position: relative;
    height: 90.5vh;
 }

 .btn_container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin: 2rem;
    padding-top: 2rem;
 }

 .btn {
    border: var(--blue-color) 3px solid;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.05rem;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 12rem;
    text-align: center;
 }

 .btn:hover {
    cursor: pointer;
    background-color: var(--light-blue-color);
    border-color: var(--light-blue-color);
    transition: 0.2s ease-out;
    transform: scale(1.05);
 }

 .about_section {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3); 
    color: #2196f3;
    display:  flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

 }

 .about_header {
    font-size: 3rem;
    margin-top: 3.2rem;
    position: relative;
 }

 .about_card h2 {
    font-size: 1.8rem;
    color: #2196f3;
    margin-top: 16px;
    margin-bottom: 12px;
 }

 .about_card_container {
    padding-top: 60px;
    display: grid;
    gap: 40px;
 }

 .about_card {
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color:#000;
    max-width: 400px;
    word-wrap: break-word;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.about_card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-out;
}


.about_card p {
    margin-top: 2rem;
    color: #000;
    line-height: 1.5;
    font-size: 1.12rem;
}

.about_symbol {
    color: #2196f3;
    font-size: 2.7rem;
}

.footer_section {
    background-color: var(--blue-color);
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer_col {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
}

.footer_col ul li {
    padding: 10px 0;
}

.footer_col ul li a {
    color: var(--white-color);
    font-size: 1rem;
    transition: 0.3s;
}

.footer_col ul li a:hover {
    color: black;
}

.footer_logo_col {
    flex-direction: column;
    text-align: center;
}

.footer_logo {
    width: 164px;
}

.footer_break {
    opacity: 0.7;
    color: white;
}

.footer_legal {
    color: var(--white-color);
    font-size: 0.8rem;
    text-align: center;
}

.footer_bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media_icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.media_icons i {
    display: inline-block;
    color: var(--white-color);
    font-size: 2rem;
    margin: 0 15px;
    transition: 0.5s;
    border: 1px solid var(--white-color);
    padding: 10px;
    border-radius: 50%;
}

.media_icons i:hover {
    color: black;
    border-color: black;
    cursor: pointer;
}