@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Saira+Condensed:wght@300;400;500&family=Ubuntu&display=swap');
/*Universal Styles Reused Throughout the Site */
:root {

    --blue-color: #2479d4;
    --white-color: #fff;
    --light-blue-color: hsl(211, 55%, 55%);
    --darker-blue-color: #1f6ec2;
    --header-height: 3.5rem;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 0.938rem;
    background-color: hsl(220, 100%, 97%);
    font-weight: 400;
}

.centered_text {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.pdf_container {
    padding: 3.5rem;
    height: 1000px;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
}

.pdf_container_board {
    padding: 3.5rem;
    height: 100%;
    width: 100%;
}

.responsive_embed {
    display: flex;
    position: relative;
    padding-bottom: 80%;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.responsive_embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.upside_down_wave{
    overflow:hidden;
    position:relative;
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    }
.upside_down_wave::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 223px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%232479d4"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%232479d4"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%232479d4"/></svg>'); 
}
    
@media (min-width:2100px) {
    .upside_down_wave::before{
    background-size: 100% calc(2vw + 223px);
    }
}

.waves {
overflow:hidden;
position:relative;
height: 250px;
width: 100%;
}
.waves::before{ 
content:'';
font-family:'shape divider from ShapeDividers.com';
position: absolute;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
background-size: 100% 223px;
background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%232479d4"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%232479d4"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%232479d4"/></svg>'); 
}

@media (min-width:2100px){
.waves::before{
background-size: 100% calc(2vw + 223px);
}
}
 

.admin_panel_top {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-color);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.admin_tool_header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    align-items: center;
    height: 64px;
}

.editor_container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.editor {
    flex: 1;
    background-color: var(--white-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 50%;
}

.code_area {
    width: 100%;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 1rem;
    resize: none;
    font-size: 1rem;
}

.image_manager {
    width: 100%;
    padding: 1.5rem;
    margin-top: 2rem;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.image_preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.uploaded_image {
    width: 150px;
    height: 187.5px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#image-popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#image-popup {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

textarea, select, input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    resize: none;
}

#image-upload {
    margin-bottom: 1rem;
}

#content-edit-area {
    width: 100%;
}

#save-changes-btn, #upload-image-btn {
    flex: 1;
}

#save-changes-btn, #validate-html-btn, #validate-css-btn, #save-css-btn, #upload-image-btn, #delete-selected {
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

#save-changes-btn:hover, #validate-html-btn:hover, #validate-css-btn:hover, #save-css-btn:hover, #upload-image-btn:hover, #delete-selected:hover {
    background-color: var(--light-blue-color);
}

/*Navbar styles and some media queries */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3); 
    z-index: 100;
}

.nav {
    height: var(--header-height);
}

.nav_logo,
.nav_burger,
.nav_close {
    color: var(--white-color);
}

.nav_data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
}

.nav_data a {
    font-weight: 600;
    color: var(--white-color);
}

.nav_logo img {
    width: 58px;
}

.nav_toggler {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav_burger,
.nav_close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav_close {
    opacity: 0;
}

@media screen and (min-width: 341px) and (max-width: 1118px) {
    .nav_menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - var(--header-height));
        overflow: auto;
        pointer-events: none;
        opacity: 0; 
        transition: top 0.4s, opacity .3s;
    }
    .nav_menu::-webkit-scrollbar {
        width: 0;
    }
    .nav_list {
        background-color: var(--blue-color);
        padding-top: 1rem;
    }

    .hero_section {
        position: relative;
        padding-top: var(--header-height);
    }

    .about_card {
        max-width: 200px;
    }

    .banner {
        padding-top: var(--header-height);
    }

    .app_btn_container {
        flex-direction: column;
    }
    
}



.nav_link {
    color: var(--white-color);
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav_link:hover {
    background-color: var(--light-blue-color);
}

 /* Classes that make the navbar function. THESE ARE IMPORTANT */

.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

.show-icon .nav_burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav_close {
    opacity: 1;
    transform: rotate(90deg);
}

.dropdown_item {
    cursor: pointer;
}

.dropdown_arrow {
    font-size: 1.25rem;
    font-weight: 600;
    transition: transform .4s;
}

.dropdown_link, .dropdown_sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: var(--darker-blue-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
    transition: background-color .3s;
}

.dropdown_sublink i,
.dropdown_link i {
    font-size: 1.25rem;
    font-weight: 600;
}

.dropdown_link:hover, .dropdown_sublink:hover {
    background-color: var(--blue-color);
}

.dropdown_menu, .dropdown_submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.dropdown_item:hover .dropdown_menu, .dropdown_subitem:hover > .dropdown_submenu,
.show-dropdown {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.dropdown_item:hover .dropdown_arrow,
.rotate-arrow {
    transform: rotate(180deg);
}

.dropdown_add {
    margin-left: auto;
}

.dropdown_sublink {
    background-color: var(--darker-blue-color);
}

 /*Styles for the table on the school board page */

.table_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.table_container h4 {
    padding: 2rem 1rem;
    font-size: 2rem;
}

.board_table {
    width: 100%;
    border-collapse: collapse;
}

.board_table thead {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.board_table thead tr th {
    font-size: 0.9rem;
    padding: 0.8rem;
    letter-spacing: 0.05rem;
    vertical-align: top;
    border: 1px solid #aab7b8;
    font-weight: 700;
}

.board_table tbody tr td {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border: 1px solid  #aab7b8;
    padding: 0.8rem;
    text-align: center;
}

.board_table tbody tr td a:hover {
    text-decoration: underline;
}

.tbl tr:nth-child(even) {
    background-color: #e2e2e2;
}

.board_minute_archive_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.board_minute_archive_container a:hover {
    text-decoration: underline;
}

.btn { /*Base button class used for pretty much every button */
    border: var(--blue-color) 3px solid;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.05rem;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 12rem;
    text-align: center;
}

.app_btn {
    width: 450px;
}
/*Universal container styles used on pretty much every page */
.content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-inline: 2rem;
}

.banner h2 {
    color: var(--white-color);
    font-size: 3rem;
    text-align: center;
}
/*Styles that make google calendars mesh the best they can (which is still bad)*/
.calendar_container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
}

.calendar_container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /* Styles for the club section of the high school page */

.club_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
}

.club_card {
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color:#000;
    max-width: 420px;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.club_card:hover {
    border-color: var(--blue-color);
    transition: 0.2s ease-out;
}

.club_card h4 {
    font-size: 1.1rem;
}

.club_card h4, .club_card p {
    text-align: center;
}

.club_card img {
    width: 100%;
    border-radius: 8px;
}

.announcement_wrapper {
    display: flex;
    gap: 1rem;
}

.resource_container {
    flex: 3;
    margin-inline: 2rem;
    padding-top: 1rem;
}

.app_container ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.app_container h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: var(--darker-blue-color);
    display: flex;
    justify-content: center;
}

.app_wrapper > a > h4 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.app_wrapper > a > h4::after {
    content: '';
    position: absolute;
    bottom:-5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--darker-blue-color);
    transition: width 0.5s ease, left 0.5s ease;
}

.app_wrapper a:hover h4::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.app_wrapper > a > img {
    width: 175px;
    height: 175px;
    border-radius: 10px;

}


.sidebar_right {
    flex: 1;
    width: 325px;
    background-color: var(--white-color);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 40px;
    border-bottom-left-radius: 8px;
    height: 100%;
}

/*Wide card style used in a lot of pages */
.wide_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4rem;
    border-radius: 36px;
    color:#000;
    max-width: 1200px;
    word-wrap: break-word;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 1.25rem;
    border: 2px solid transparent;
    width: 100%;
}

.card_header {
    font-size: 1.8rem;
    text-align: center;
    color: var(--darker-blue-color);
}

.wide_card:hover {
    border-color: var(--blue-color);
    transition: 0.2s ease-out;
}

.flex_container_top {
    display: flex;
    width: 100%;
    background-color: var(--light-blue-color);
    height: 275px;
    margin-bottom: 2rem;
}

.anchor_container {
    padding: 2rem 1rem;
    width: 30%;
    display: flex;
    justify-content: center;
    border-right: 3px solid var(--white-color);
}

.anchor_container > ul {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.anchor_container > ul > li > a {
    color: var(--white-color);
    position: relative;
    transition: color 0.5s ease;
    font-size: 1.1rem;
}

.anchor_container > ul > li a::after {
    content: '';
    position: absolute;
    bottom:-5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.5s ease, left 0.5s ease;
}

.anchor_container > ul > li > a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.anchor_container > ul > li >a:hover {
    color: #000;
}

.carousel_wrapper {

}

.carousel {

}

#shark-cage-section p  {
    font-size: 1rem;
}

#shark-cage-section h3, #hs-coaches-section h3, #hs-teams-section h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.coaches_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.coach_card {
    display: flex;
    background-color: var(--white-color);
    width: 350px;
    height: 150px;
    border-radius: 8px;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
}

.coach_card:hover {
    transform: scale(1.05);
}

.coach_card_text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
}

.coach_card_text h4 {
    font-size: 1.1rem;
}

.coach_card_text h5 {
    font-size: 0.96rem;
}

.coach_card_text a {
    position: relative;
}

.coach_card_text a::after {
    content: '';
    position: absolute;
    bottom:-5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--darker-blue-color);
    transition: width 0.5s ease, left 0.5s ease;
}

.coach_card a:hover::after {
    width: 100%;
    transform: translateX(0);
    left: 0;
}

.coach_card img {
    border-radius: inherit;
    width: 115px;
    height: 150px;
}

.btn_container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin: 1.5rem;
}

.news_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    gap: 1rem;
    justify-items: center;
    padding-bottom: 4rem;
}

 /*Media queries to handle responsiveness for mobile users */
@media screen and (max-width: 600px) {

    .pdf_container {
        padding: 0;
    }

.pdf_container_board {
    padding: 0;
}

    .responsive_embed {
        padding-bottom: 200%;
    }

    .responsive_embed embed {
        width: 100%;
        height: 60%;
        transform: scale(0.9);
        transform-origin: top left;
    }

    .container, .content_container {
        margin-inline: 1rem;
    }

    .hero_section h1 {
        font-size: 3rem;
    }

    .banner h2 {
        font-size: 2rem;
    }

    .btn_container {
        gap: 2rem;
    }

    #landing-btn {
        font-size: 0.9rem;
        width: 10rem;
    }

    .nav_link {
        padding-inline: 1rem;
    }

    .about_card {
        max-width: 180px;
    }

    .footer_container {
        flex-direction: column;
        padding: 20px 30px;
    }

    .footer_col ul {
        margin-left: 20px;
        margin-bottom: 20px;
    }


    .board_minute_archive_container {
        flex-direction: column;
    }

    .wide_card {
        width: 100%;
    }

    .app_btn {
        width: 300px;
    }

    .club_card_container {
        grid-template-columns: repeat(1, 1fr);
    }

    #about-btn-container {
        flex-direction: column;
    }

    .admin_tool_container {
        grid-template-columns: 1fr;
    }
}
/*Media queries for better responsiveness on smaller screens and mobile users */
@media screen and (max-width: 768px) {
    .contact_container {
        flex-direction: column;
    }
    .announcement_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .sidebar_right {
        border-radius: 10px;
    }


    .footer_container {
        flex-direction: column;
        padding: 20px 30px;
    }

    .footer_col ul {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    /*Adjusted styles for school board table to look clean on smaller screens */
    .board_table thead {
        display: none;
    }

    .board_table tr,
    .board_table td {
        display: block;
        width: 100%;
    }

    .board_table tr {
        margin-bottom: 1rem;
    }

    .board_table tbody tr td {
        text-align: right;
        position: relative;
        font-size: 0.8rem;
    }

    .board_table td::before {
        content: attr(tbl_lbl);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.3rem;
        text-align: left;
    }

    .login_container {
        padding: 1.5rem;
        width: 80%;
    }

    .sign_in {
        flex-direction: column;
    }
}

    /*Home page card responsiveness for medium sized screens */
@media screen and (min-width: 768px) {
    .about_card_container, .course_card_container {
        grid-template-columns: 1fr 1fr;
    }

    .about_card:last-child {
        grid-column: span 2;
    }

    .course_card:last-child {
        grid-column: span 2;
        justify-self: center;
    }

    .login_container {
        padding: 3.8rem
    }
}

@media screen and (max-width: 1178px) {
    .news_grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .news_grid {
        grid-template-columns: 1fr;
    }
}

 /*Sitewide styles for better responsiveness on larger screens */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }


    /*These nav styles are very important for its responsiveness and functionality on all screens */
    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav_toggler {
        display: none;
    }

    .nav_list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav_link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav_link:hover {
        background-color: transparent;
    }

    .dropdown_item, .dropdown_subitem {
        position: relative;
    }

    .dropdown_menu, .dropdown_submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s top .3s;
    }

    .dropdown_link, .dropdown_sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown_subitem .dropdown_link {
        padding-inline: 1rem;
    }

    .dropdown_submenu {
        left: 100%;
        position: absolute;
        top: 0.5rem;
    }

    .dropdown_item:hover .dropdown_menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top 0.3s;
    }

    .dropdown_subitem:hover > .dropdown_submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top 0.3s;
    }

    /*Minor layout adjustments and grid alterations for increased responsiveness */

    .hero_section {
        padding-top: calc(var(--header-height) + 2rem) !important;
    }

    .about_card_container, .course_card_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .about_card:last-child, .course_card:last-child {
        grid-column: unset;
    }

    .announcement_card_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }

    .announcement_card {
        max-width: none;
    }

    .club_card_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Styles for the majority of the landing page */

.hero_section, .login_wrapper {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/resizedbp.png);
    position: relative;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: var(--header-height);
}

.title_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero_section h1 {
    margin: 0 auto;
    text-align: center;
    color: var(--white-color);
    font-weight: 600;
    font-size: 6rem;
    /*font-family: "Saira Semi Condensed", sans-serif; */
}

.hero_section h2 {
    padding-top: 2rem;
    text-align: center;
    color: var(--white-color);
    font-weight: 300;
    font-size: 2.1rem;
}

.hero_image {
    position: relative;
    height: 90.5vh;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--light-blue-color);
    border-color: var(--light-blue-color);
    transition: 0.2s ease-out;
    transform: scale(1.05);
}

.about_section {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3); 
    color: #2196f3;
    display:  flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about_section h2 {
    font-size: 3rem;
    margin-top: 3.2rem;
    position: relative;
    color: #2196f3
}

.about_card h2 {
    font-size: 1.8rem;
    color: #2196f3;
    margin-top: 16px;
    margin-bottom: 12px;
}

.about_card_container {
    padding-top: 60px;
    display: grid;
    gap: 40px;
}

.about_card {
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color:#000;
    max-width: 400px;
    word-wrap: break-word;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.about_card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-out;
}


.about_card p {
    margin-top: 2rem;
    color: #000;
    line-height: 1.5;
    font-size: 1.12rem;
}

.about_symbol {
    color: #2196f3;
    font-size: 2.7rem;
}
.academic_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
}

.academic_container h2, .academic_container i, .quote {
    color: var(--white-color);
}

#academic-section {
    background: linear-gradient(180deg, var(--blue-color), var(--light-blue-color));
    padding-bottom: 2.5rem;
}

.academic_container i {
    font-size: 4rem;
}

.quote {
    font-size: 1.6rem;
    font-style: italic;
}

.academic_text {
    color: var(--white-color);
    word-wrap: break-word;
    font-size: 1.2rem;
    margin: auto 10%;
}

.academic_btn {
    width: 250px;
}

.news_section .btn {
    margin: 0 auto;
    width: 60%;
}

.news_wrapper {
    position: relative;
    width: 275px;
    height: 325px;
    margin: 1.6rem;
}

.news_wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
    border-radius: 10px;
}

.news_wrapper:hover::before {
    opacity: 0.7;
}

.news_wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.news_wrapper h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.4;
    transition: all 0.3s ease-in-out;
    padding: 0 10px;
    z-index: 4;
}

.news_wrapper:hover img {
    opacity: 0.7;
}

.news_wrapper:hover h4 {
    top:50%;
    transform: translate(-50%, -50%);
}

.news_wrapper:hover h4:hover {
    text-decoration: underline;
}

.news_section {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    background: linear-gradient(to bottom, var(--light-blue-color), var(--darker-blue-color));
}

.news_section h2 {
    font-size: 2.6rem;
    text-align: center;
    color: var(--white-color);
}

.course_card_container {
    display: grid;
    gap: 2rem
}

.course_card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.course_card:hover {
    border: 1px solid var(--white-color);
    transition: border 0.4s ease-in-out;
}

.course_card h3 {
    font-size: 1.6rem;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0.6rem;
    position: relative;
}

.course_card h3::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.course_card:hover h3::after {
    width: 100%;
}

.course_card h3, .course_card p {
    color: var(--white-color);
    padding: 1rem;
}

.course_card > .btn, .course_card p {
    opacity: 0;
    transition-delay: 0.2s;
    transition: opacity 0.3s ease-in-out;
}

#elem-card {
    background-image: linear-gradient(rgba(31, 70, 194, 0.8), rgba(31, 70, 194, 0.8)), url(./assets/Hula\ Hoop.jpg);    
}

#mid-card {
    background-image: linear-gradient(rgba(31, 70, 194, 0.8), rgba(31, 70, 194, 0.8)), url(./assets/MS-candid-edit-2.jpg);    
}

#high-card {
    background-image: linear-gradient(rgba(31, 70, 194, 0.8), rgba(31, 70, 194, 0.8)), url(./assets/New\ Banner.jpg);    
}

.course_card:hover p,
.course_card:hover > .btn {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2;
    color: var(--white-color);
}

.footer_section {
    background-color: var(--blue-color);
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer_col {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
}

.footer_col ul li {
    padding: 10px 0;
}

.footer_col ul li a {
    color: var(--white-color);
    font-size: 1rem;
    transition: 0.3s;
}

.footer_col ul li a:hover {
    color: black;
}

.footer_logo_col {
    flex-direction: column;
    text-align: center;
}

.footer_logo {
    width: 164px;
}

.footer_break {
    opacity: 0.7;
    color: white;
}

.footer_legal {
    color: var(--white-color);
    font-size: 0.8rem;
    text-align: center;
}

.footer_bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media_icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.media_icons i {
    display: inline-block;
    color: var(--white-color);
    font-size: 2rem;
    margin: 0 15px;
    transition: 0.5s;
    border: 1px solid var(--white-color);
    padding: 10px;
    border-radius: 50%;
}

.media_icons i:hover {
    color: black;
    border-color: black;
    cursor: pointer;
}

.banner {
    background: linear-gradient(180deg, var(--darker-blue-color), var(--light-blue-color));
    position: relative;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3); 
}

.banner {
    padding-top: var(--header-height);
}

.announcement_img {
    align-self: center;
    width: 300px;
    max-height: 380px;
    border-radius: 8px;

}

.sidebar_col {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
}

.sidebar_col h4 {
    font-size: 1.5rem;
    color: var(--darker-blue-color);
}

.sidebar_col li {
    font-size: 1.2rem;
    margin-top: 24px;
}

.sidebar_col li a:hover {
    transition: 0.3s ease-in;
    color: var(--darker-blue-color);
    border-bottom: 1px solid var(--blue-color);
}

.login_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid var(--blue-color);
}

.login_title {
    position: relative;
}

.login_title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--blue-color);
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.sign_in {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.sign_in img {
    width: 180px;
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.contact_container, .archived_announcement_container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.archived_announcement_container h4 {
    position: relative;
}

.archived_announcement_container h4::before {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    background-color: var(--darker-blue-color);
}

.contact_container p {
    font-size: 1rem;
}

.contact_container a:hover {
    text-decoration: underline;
}

.sidebar_container h4 {
    font-size: 1.5rem;
    color: var(--darker-blue-color);
}

.sidebar_container p {
    font-size: 0.938rem;
    opacity: 0.6;
}

.announcement_card_container {
    padding-top: 2rem;
    display: grid;
    grid-template-rows: auto auto; 
    gap: 20px;
    justify-content: center;
    flex: 3;
}

.announcement_card {
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color:#000;
    max-width: 420px;
    word-wrap: break-word;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement_card > a > p {
    color: #000;
    text-align: center;
}

.announcement_card:hover {
    transition: 0.3s ease-out;
    scale: 1.05;
    border-color: var(--blue-color);
}

.large_announcement_card {
    grid-row: span 2;
    height: 500px;
    max-width: 340px;
    align-self: start;
}

.large_announcement_card h4 {
    text-align: center;
}

.small_announcement_card {
    height: 335px;
    align-self: start;
}

.announcement_card span {
    align-self: flex-start;
}

.staff_card_container, .card_container {
    display: flex;
    padding: 4rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.staff_card_container {
    gap: 3rem;
    justify-content: space-between;
}

.support_staff_container {
    column-gap: 0.5rem;
}

.staff_card {
    height: 350px;
    width: 280px;
}

.card {
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    border: 2px solid transparent;
    color:#000;
    word-wrap: break-word;
    margin-bottom: 40px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    transform-style: preserve-3d;
    transition: all 0.45s ease;
    cursor: pointer;
    text-align: center;
}

.small_card {
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    border: 2px solid transparent;
    color:#000;
    word-wrap: break-word;
    margin-bottom: 40px;
    position: relative;
    width: 260px;
    max-width: 100%;
    max-height: 100%;
    height: 260px;
    transition: all 0.45s ease;
    text-align: center;
}

.small_staff_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.staff_card:hover, .card:hover, .small_card:hover {
    border-color: var(--blue-color);
}

.card_front, .card_back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    padding: 12px;
}

.staff_card_back, .card_back {
    transform: rotateY(180deg);
}

.flip_card {
    transform: rotateY(180deg);
}

.staff_card img {
    border-radius: 8px;
    width: 200px;
    height: 275px;
}

.small_staff_card img {
    border-radius: 8px;
    width: 160px;
    height: 200px;
}

.staff_card h3, .small_staff_card h3 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.staff_card h4, .small_staff_card h4 {
    font-weight: 600;
    color: var(--blue-color)
}

.staff_card p, .small_staff_card p {
    font-size: 0.88rem;
}

.support_staff_header {
    font-size: 2rem;
    text-align: center;
}

.academic_container h3, .academic_container p, .academic_container h4 {
    text-align: center;
}

.app_info {
    font-size: 1.25rem;
    font-weight: 600;
    color: #444444
}

.smaller_text {
    font-size: 1.05rem;
}

.enroll_info {
    font-size: 1.5rem;
    text-decoration: underline;
}

.board_btn {
    width: 100%;
}

#enroll-bottom {
    font-size: 1rem;
    color: var(--blue-color);
    font-weight: 700;
}

.wide_card img {
    max-width: 100%;
}

.employment_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4rem;
    border-radius: 36px;
    color:#000;
    word-wrap: break-word;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 1.25rem;
    border: 2px solid transparent;
}

.employment_card h3 {
    font-size: 2rem;
    color: var(--blue-color)
}

.employment_card img {
    width: 240px;
    height: 240px;
}

.card_text_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.25rem;
}

.card_text_container ul, .card_text_container ul li {
    text-align: center;
}

.card_text_container h4 {
    font-size: 1.28rem;
}

.card_text_container a {
    color: var(--darker-blue-color);
}

.card_text_container a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.card_text_container p {
    font-weight: 600;
}

.section_header {
    margin-inline: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--blue-color);
}

.slideUp {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

